@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300&display=swap");
body {
  background: rgb(32, 46, 58);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: azure;
}
a {
  text-decoration: none;
}
.home {
  height: 100%;
  /* margin-bottom: 15vh; */
}
.header {
  background: linear-gradient(
      rgba(32, 46, 58, 1),
      rgba(32, 46, 58, 0.9),
      rgba(32, 46, 58, 1)
    ),
    url(/MyFirstPortfolio/images/codingbackgroudn.jpeg) center/cover no-repeat;
  width: 100vw;
  max-width: 100%;
  height: 563px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
}
.header h1 {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  font-size: 10rem;
  border-bottom: crimson 2px solid;
}
.header .subtext {
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  letter-spacing: 0.8rem;
}
.header .subtext h3 {
  display: inline-block;
}
.header .subtext .visible-smallscreen {
  display: none;
}
.header .logos {
  width: 300px;
}
.header .mainheader {
  padding-top: 42.828px;
  height: fit-content;
  padding-bottom: 42.828px;
}
.header .headerbottomtext {
  height: fit-content;
  vertical-align: middle;
  padding: 0 10vw;
}
.header .headerbottomtext p {
  display: inline-block;
  font-size: 2rem;
}
.navbar {
  width: 100%;
  height: 374px;
  display: table;
  table-layout: fixed;
  overflow: hidden;
}
.navbar div {
  display: table-cell;
  line-height: 100%;
  vertical-align: middle;
}
.navbar div a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 5vw;
  border-radius: 20px;
  padding: 5vw;
  vertical-align: middle;
  transition-property: border, border-radius;
  transition-duration: 0.3s;
}
.navbar .navmywork {
  text-align: right;
  background: azure;
  position: relative;
}
.navbar .navcontact {
  text-align: left;
  background: crimson;
  position: relative;
}
.navbar .navmywork a {
  margin-right: 2.5vw;
  color: crimson;
  border: 5px azure solid;
  border-right: 5px crimson solid;
}
.navbar .navcontact a {
  margin-left: 2.5vw;
  color: azure;
  border: 5px crimson solid;
  border-left: 5px azure solid;
}
.navbar .navmywork i {
  color: crimson;
  margin-right: 2.5vw;
  vertical-align: middle;
  font-size: 4vw;
}
.navbar .navcontact i {
  color: azure;
  margin-left: 2.5vw;
  vertical-align: middle;
  font-size: 4vw;
}
.navbar .navmywork a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar .navcontact a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar .navmywork a:hover {
  border-radius: 150px;
  border: 5px crimson solid;
}
.navbar .navcontact a:hover {
  border-radius: 150px;
  border: 5px azure solid;
}
.navbar .navmywork a:active {
  background: crimson;
  color: azure;
}
.navbar .navcontact a:active {
  background: azure;
  color: crimson;
}
.mywork {
  height: fit-content;
  background: rgb(32, 46, 58);
  width: 100%;
}
.mywork .myworkcontent {
  background: coral;
}
.mywork .myworktopnavbar {
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  text-align: center;
}
.mywork .myworkbottomnavbar {
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  text-align: center;
}
.mywork .myworktopnavbar i {
  color: azure;
  font-size: 93px;
  border: 5px rgb(32, 46, 58) solid;
}
.mywork .myworkbottomnavbar i {
  color: azure;
  font-size: 93px;
  border: 5px rgb(32, 46, 58) solid;
}
.mywork .myworktopnavbar i:hover {
  border-bottom: 5px crimson solid;
}
.mywork .myworkbottomnavbar i:hover {
  border-top: 5px crimson solid;
}
.mywork .myworktopnavbar i:active {
  color: crimson;
}
.mywork .myworkbottomnavbar i:active {
  color: crimson;
}
.contact {
  height: 100vh;
  background: rgb(32, 46, 58);
  position: relative;
}

@media screen and (max-width: 750px) {
  .home {
    height: 80%;
    margin-bottom: 5vh;
  }
  .header {
    height: 55vh;
    min-height: 420px;
  }
  .header .mainheader {
    height: 40vh;
    padding-top: 2vh;
    padding-bottom: 0;
    min-height: 340px;
  }
  .header .mainheader h1 {
    font-size: 120px;
  }
  .header .mainheader .subtext {
    font-size: 20px;
    padding: 0 1vw;
    padding-top: 1vh;
  }
  .header .mainheader .subtext img {
    padding: 0;
    padding-top: 2vh;
  }
  .header .subtext .visible-smallscreen {
    display: block;
  }
  .header .headerbottomtext {
    padding-top: auto;
    height: auto;
  }
  .header .headerbottomtext p {
    font-size: 25px;
  }
  .navbar {
    height: 25vh;
  }
}

@media screen and (max-width: 600px) {
  .header .mainheader {
    height: 38vh;
    min-height: 300px;
  }
  .header .mainheader h1 {
    font-size: 90px;
  }
  .header .mainheader .subtext {
    font-size: 15px;
    letter-spacing: 0.6rem;
  }
}

@media screen and (max-width: 450px) {
  .home {
    height: 85%;
    margin-bottom: 15vh;
  }
  .header {
    height: 70vh;
  }
  .header .mainheader {
    height: 45vh;
    min-height: 240px;
    padding-top: 2vh;
    padding-bottom: 0;
  }
  .header .mainheader h1 {
    font-size: 18vw;
  }
  .header .mainheader .logos {
    width: 70vw;
  }
  .header .mainheader .subtext {
    font-size: 4vw;
    padding-bottom: 0;
    letter-spacing: 1.7vw;
  }
  .header .mainheader .subtext img {
    padding: 0;
    padding-top: 2vh;
  }
  .header .headerbottomtext {
    padding-top: 2vh;
    height: 25vh;
  }
  .header .headerbottomtext p {
    font-size: 25px;
  }
  .navbar {
    height: 15vh;
  }
  .navbar .navmywork a {
    margin-right: 1vw;
  }
  .navbar .navcontact a {
    margin-left: 1vw;
  }
  .navbar .navmywork i {
    margin-right: 1vw;
    font-size: 6vw;
  }
  .navbar .navcontact i {
    margin-left: 1vw;
    font-size: 6vw;
  }
}
