@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
:root {
  --primaryColor: azure;
  --secondaryColor: crimson;
  --backgroundColor: rgb(32, 46, 58);
}
body {
  background: var(--backgroundColor);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--primaryColor);
}
a {
  text-decoration: none;
}
input,
textarea,
select {
  outline: none;
}
.home {
  height: 100%;
}
.header {
  background: linear-gradient(
      rgba(32, 46, 58, 1),
      rgba(32, 46, 58, 0.9),
      rgba(32, 46, 58, 1)
    ),
    url(/MyFirstPortfolio/images/codingbackgroudn.jpeg) center/cover no-repeat;
  width: 100vw;
  max-width: 100%;
  height: 563px;
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.header h1 {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  font-size: 8rem;
  font-family: "Dosis", sans-serif;
  border-bottom: var(--secondaryColor) 2px solid;
  text-transform: capitalize;
}
.header .subtext {
  display: block;
  font-size: 1.5rem;
  padding-top: 4px;
  padding-bottom: 16px;
  letter-spacing: 0.8rem;
  height: fit-content;
}
.header .subtext h3 {
  vertical-align: top;
  font-size: 24px;
  padding: 12px;
  display: inline-block;
  text-transform: capitalize;
}
.header .subtext .visible-smallscreen {
  display: none;
}
.header .logos {
  width: 300px;
}
.header .mainheader {
  padding-top: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 30px;
}
.header .mainheader .subtext i:hover {
  background: -webkit-linear-gradient(
    var(--primaryColor),
    var(--primaryColor),
    var(--secondaryColor)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .headerbottomtext {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  vertical-align: middle;
  padding: 0 10vw;
}
.header .headerbottomtext p {
  display: inline-block;
  font-size: 2rem;
}
.navbar {
  width: 100%;
  height: 374px;
  display: table;
  table-layout: fixed;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
.navbar div {
  display: table-cell;
  line-height: 100%;
  vertical-align: middle;
}
.navbar div a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 5vw;
  border-radius: 20px;
  padding: 4vw;
  vertical-align: middle;
  -webkit-transition-property: border, border-radius;
  -o-transition-property: border, border-radius;
  transition-property: border, border-radius;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.navbar .navmywork {
  text-align: right;
  background: var(--primaryColor);
  position: relative;
}
.navbar .navcontact {
  text-align: left;
  background: var(--secondaryColor);
  position: relative;
}
.navbar .navmywork a {
  margin-right: 2.5vw;
  color: var(--secondaryColor);
  border: 5px var(--primaryColor) solid;
  border-right: 5px var(--secondaryColor) solid;
}
.navbar .navcontact a {
  margin-left: 2.5vw;
  color: var(--primaryColor);
  border: 5px var(--secondaryColor) solid;
  border-left: 5px var(--primaryColor) solid;
}
.navbar .navmywork i {
  color: var(--secondaryColor);
  margin-right: 2.5vw;
  vertical-align: middle;
  font-size: 4vw;
}
.navbar .navcontact i {
  color: var(--primaryColor);
  margin-left: 2.5vw;
  vertical-align: middle;
  font-size: 4vw;
}
.navbar .navmywork a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar .navcontact a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar .navmywork a:hover {
  border-radius: 150px;
  border: 5px var(--secondaryColor) solid;
}
.navbar .navcontact a:hover {
  border-radius: 150px;
  border: 5px var(--primaryColor) solid;
}
.navbar .navmywork a:active {
  background: var(--secondaryColor);
  color: var(--primaryColor);
}
.navbar .navcontact a:active {
  background: var(--primaryColor);
  color: var(--secondaryColor);
}
.mywork {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background: azure;
}
.mywork .myworkheader {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: center;
  background: var(--backgroundColor);
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 40%, 50% 100%, 0 40%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 40%, 50% 100%, 0 40%, 0 0);
}
.mywork .myworkcontent {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
}
.mywork .myworkcontent img {
  max-width: 100%;
}
.mywork .myworkfooter {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: center;
  background: var(--backgroundColor);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 40%,
    100% 100%,
    50% 100%,
    0 100%,
    0 40%
  );
  clip-path: polygon(50% 0%, 100% 40%, 100% 100%, 50% 100%, 0 100%, 0 40%);
}
.mywork .myworkheader i {
  color: var(--primaryColor);
  font-size: 93px;
  border: 10px rgb(32, 46, 58) solid;
}
.mywork .myworkheader i:hover {
  border-bottom: 10px var(--secondaryColor) solid;
}
.mywork .myworkheader i:active {
  color: var(--secondaryColor);
}
.contact .contactheader {
  height: 113px;
  width: 100%;
  text-align: center;
  background: var(--primaryColor);
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 40%, 50% 100%, 0 40%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 40%, 50% 100%, 0 40%, 0 0);
}
.contact {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: rgb(32, 46, 58);
  width: 100%;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.contact .contactcontent {
  margin: 5vh 0;
  text-align: center;
}
.contact .contactcontent h1 {
  display: inline-block;
  margin-bottom: 30px;
  max-width: 100%;
  overflow: hidden;
  font-size: 10rem;
  border-bottom: var(--secondaryColor) 2px solid;
}
.contact .contactcontent input,
.contact .contactcontent textarea {
  background: rgb(32, 32, 32);
  color: var(--primaryColor);
  width: 600px;
  max-width: 80%;
  resize: none;
  -webkit-box-shadow: 0 0 1px var(--primaryColor) inset;
  box-shadow: 0 0 1px var(--primaryColor) inset;
  border: none;
}
.contact .contactcontent input:hover,
.contact .contactcontent textarea:hover {
  -webkit-box-shadow: 0 0 5px var(--secondaryColor) inset;
  box-shadow: 0 0 5px var(--secondaryColor) inset;
}
.contact .contactcontent input:-webkit-autofill,
.contact .contactcontent input:-webkit-autofill:hover,
.contact .contactcontent input:-webkit-autofill:focus,
.contact .contactcontent textarea:-webkit-autofill,
.contact .contactcontent textarea:-webkit-autofill:hover,
.contact .contactcontent textarea:-webkit-autofill:focus,
.contact .contactcontent select:-webkit-autofill,
.contact .contactcontent select:-webkit-autofill:hover,
.contact .contactcontent select:-webkit-autofill:focus {
  color: var(--primaryColor);
  box-shadow: 0 0 5px var(--secondaryColor) inset;
  -webkit-box-shadow: 0 0 5px var(--secondaryColor) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--primaryColor);
}
.contact .contactcontent input {
  height: 30px;
  text-align: center;
}
.contact .contactcontent textarea {
  margin-top: 30px;
}
.contact .contactcontent .submitbutton {
  background: var(--secondaryColor);
  cursor: pointer;
}
.contact .contactcontent .submitbutton::after {
  content: "asd";
}
.contact .contacttopnavbar {
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.contact .contactfooter {
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.contact .contactfooter i {
  color: var(--primaryColor);
  font-size: 93px;
  border: 10px rgb(32, 46, 58) solid;
}
.contact .contactfooter i:hover {
  border-bottom: 10px var(--secondaryColor) solid;
}
.contact .contactfooter i:active {
  color: var(--secondaryColor);
}

@media screen and (min-width: 2000px) {
  .navbar div a {
    font-size: 111px;
    padding: 100px;
  }
}

@media screen and (max-width: 750px) {
  .home {
    height: 80%;
    margin-bottom: 5vh;
  }
  .header {
    height: 55vh;
    min-height: 420px;
  }
  .header .mainheader {
    height: 40vh;
    padding-top: 2vh;
    margin-bottom: 4vh;
    min-height: 340px;
  }
  .header .mainheader h1 {
    font-size: 100px;
  }
  .header .mainheader .subtext {
    font-size: 20px;
    padding: 0 1vw;
    padding-top: 1vh;
  }
  .header .mainheader .subtext i {
    padding: 0;
  }
  .header .subtext .visible-smallscreen {
    display: block;
  }
  .header .headerbottomtext {
    padding-top: auto;
    height: auto;
  }
  .header .headerbottomtext p {
    font-size: 25px;
  }
  .navbar {
    height: 25vh;
  }
  .navbar .navmywork a {
    margin-right: 0;
    padding: 3vw;
  }
  .navbar .navcontact a {
    margin-left: 1vw;
    padding: 3vw;
  }
  .navbar .navmywork i {
    margin-right: 1vw;
    font-size: 6vw;
  }
  .navbar .navcontact i {
    margin-left: 1vw;
    font-size: 6vw;
  }
  .contact .contactcontent h1 {
    font-size: 120px;
  }
}

@media screen and (max-width: 600px) {
  .header .mainheader {
    height: 38vh;
    min-height: 300px;
  }
  .header .mainheader h1 {
    font-size: 80px;
  }
  .header .mainheader .subtext {
    letter-spacing: 0.6rem;
  }
  .header .mainheader .subtext h3 {
    font-size: 20px;
  }
  .contact .contactcontent h1 {
    font-size: 90px;
  }
}

@media screen and (max-width: 450px) {
  .home {
    height: 85%;
    margin-bottom: 15vh;
  }
  .header {
    height: 70vh;
  }
  .header .mainheader {
    height: 45vh;
    min-height: 240px;
    padding-top: 2vh;
    padding-bottom: 0;
  }
  .header .mainheader h1 {
    font-size: 15vw;
  }
  .header .mainheader .logos {
    width: 70vw;
  }
  .header .mainheader .subtext {
    font-size: 3vw;
    padding-bottom: 0;
    letter-spacing: 1.7vw;
  }
  .header .headerbottomtext {
    padding-top: 2vh;
    height: 25vh;
  }
  .header .headerbottomtext p {
    font-size: 25px;
  }
  .navbar {
    height: 15vh;
  }
  .contact .contactcontent h1 {
    font-size: 18vw;
  }
  .contact form {
    margin: auto;
  }
}
